In [ ]:
import csv
import pandas as pd
import requests
import json

**카카오에서 저공하는 geocoding 서비스를 함수로 지정하여  사용**

In [ ]:

def addr_to_lat_lon(addr):
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query={address}'.format(address=addr)
    headers = {"Authorization": "KakaoAK " + 'c7eeec233835734c4abd0cd0b441950b'}
    result = json.loads(str(requests.get(url, headers=headers).text))
    match_first = result['documents'][0]['address']
    return float(match_first['x']), float(match_first['y'])

,번호,신고일,구정보,주소,유형,조치일
0,1,2021-07-15,동작구,서울특별시 동작구 상도동 215-45,"점자블록, 엘리베이터 입구",2021-07-15
1,2,2021-07-15,동작구,서울특별시 동작구 상도동 172-28,보도 중앙,2021-07-15
2,3,2021-07-15,동작구,서울특별시 동작구 대방동 356-2,"버스정류장, 택시 승강장",2021-07-15
3,4,2021-07-15,동작구,서울특별시 동작구 대방동 354-1,"버스정류장, 택시 승강장",2021-07-15
4,5,2021-07-15,동작구,서울특별시 동작구 신대방동 460-30,보도와 차도가 구분된 도로의 차도,2021-07-15
...,...,...,...,...,...,...
60600,60601,2022-07-29,동작구,서울특별시 동작구 사당동 708-1025,보도와 차도가 구분된 도로의 차도,2022-07-29
60601,60602,2022-07-29,관악구,서울특별시 관악구 봉천동 1693-55,보도와 차도가 구분된 도로의 차도,2022-07-29
60602,60603,2022-07-29,동작구,서울특별시 동작구 사당동 175-56,보도와 차도가 구분된 도로의 차도,2022-07-29
60603,60604,2022-07-29,동작구,서울특별시 동작구 사당동 175-26,보도와 차도가 구분된 도로의 차도,2022-07-29
60604,60605,2022-07-29,중랑구,서울특별시 중랑구 면목동 197-10,보도와 차도가 구분된 도로의 차도,2022-07-29

**데이터 불러오기**

In [ ]:
read_data = pd.read_csv('/content/drive/MyDrive/data/서울특별시_전동킥보드_견인_현황_20220731.csv',encoding = 'cp949')
read_data

**서울시 전동킥보드 견인현황 데이터의 지벚주소를 좌표값으로 변환**

**결측치는 결측된값 프린트 후 (1,1)로 리스트에 저장**

In [ ]:
df_list=[]
for i in range(60605) :
 try :
    latlng = addr_to_lat_lon(read_data['주소'][i])
    df_list.append(latlng)
    
 except :
    print('error', i)
    latlng = (1,1)
    df_list.append(latlng)
  
df = pd.DataFrame(df_list)
df.to_csv('end.csv')

error 30047
error 30090
error 30186
error 30311
error 30444
error 30473
error 30590
error 30605
error 31164
error 31172
error 31359
error 31394
error 31914
error 31918
error 32227
error 32603
error 32609
error 32724
error 32841
error 32857
error 32861
error 33452
error 33538
error 33676
error 33689
error 33735
error 33755
error 34599
error 34609
error 34914
error 34917
error 35120
error 35320
error 35651
error 35944
error 35972
error 35984
error 35987
error 36074
error 36084
error 36173
error 36202
error 36740
error 36969
error 36983
error 37635
error 37636
error 37745
error 37812
error 37837
error 38015
error 38033
error 38039
error 38055
error 38200
error 38205
error 38457
error 38555
error 38564
error 38570
error 38574
error 38575
error 38581
error 38677
error 38849
error 39497
error 39501
error 39955
error 39992
error 39998
error 40366
error 40369
error 40447
error 40453
error 40473
error 40645
error 40649
error 40905
error 40915
error 40923
error 41773
error 41905
error 41914
error 41919
error 42000
error 42026
error 42162
error 42211
error 42215
error 42276
error 42312
error 42336
error 42340
error 42458
error 42464
error 42514
error 42516
error 42718
error 42730
error 42876
error 42946
error 42950
error 42968
error 42991
error 42993
error 42999
error 43172
error 43178
error 43214
error 43215
error 43218
error 43410
error 43413
error 43445
error 43528
error 44034
error 44146
error 44299
error 44533
error 44537
error 44639
error 44643
error 44793
error 44796
error 44800
error 44888
error 44890
error 44896
error 44900
error 45080
error 45154
error 45263
error 45387
error 45393
error 45401
error 45464
error 45569
error 45715
error 46725
error 46735
error 46741
error 46748
error 47200
error 47325
error 47540
error 47542
error 47551
error 47617
error 47750
error 47779
error 47797
error 48000
error 48009
error 48163
error 48211
error 48325
error 48460
error 48462
error 48465
error 48546
error 48609
error 48815
error 48845
error 48897
error 49088
error 49130
error 49176
error 49260
error 49263
error 49497
error 49524
error 49527
error 49529
error 49530
error 49548
error 49551
error 49997

**지오코딩을 임포트하여 결손된값 다시 변환**

In [ ]:
from geopy.geocoders import Nominatim

def geocoding(address):
    geolocoder = Nominatim(user_agent = 'South Korea', timeout=None)
    geo = geolocoder.geocode(address)
    crd = [str(geo.latitude),str(geo.longitude)]

    return crd

In [ ]:
x= pd.read_csv("/content/drive/MyDrive/data/end.csv",)

In [ ]:
x1=x.drop('Unnamed: 0', axis=1)

In [ ]:
x2=x1[x1['0']==1]

In [ ]:
y=x2.index

In [ ]:
y_list =[]
for i in range(515) :
 try :
    latlng = geocoding(read_data['주소'][y[i]])
    y_list.append(latlng)
    
 except :
    print('error', i)
    latlng = (1,1)
    y_list.append(latlng)

In [ ]:
x3 = x1.values.tolist()

In [ ]:
for i in range(515):
  x3[y[i]] = y_list[i]

In [ ]:
x4 = pd.DataFrame(x3)

In [ ]:
x4.to_csv('end2.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).